/Proyecto Bases/nbproject/private/
/Proyecto Bases/build/
/Proyecto Bases/dist/
Proyecto Bases/nbproject/project.properties
Proyecto Bases/src/Connect/DBConnection.java
Proyecto Bases/src/Connect/DBConnection.java
